body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

h1{
  color: #C00000;
  font-size: 40px;
  text-align:center;
  font-family: "Cambria", "Serif";
}

h2 {
  color: #C00000;
  font-size: 30px;
  text-align:center;
  font-family: "Cambria", "Serif";
}
h3 {
  color: black;
  font-size: 20px;
  text-align:center;
  font-family: "Cambria", "Serif";
}

h4 {
  color: black;
  font-size: 15px;
  text-align:center;
  font-family: "Cambria", "Serif";
}

p {
  color: black;
  font-size: 20px;
  font-family: "Cambria", "Serif";
  text-align: justify;
  line-height: 28px;
}
p2 {
  color: black;
  font-size: 18px;
  font-family: "Cambria", "Serif";
  text-indent: 50px;
  text-align: justify;
  line-height: 28px;
}
p3 {
  color: black;
  font-size: 22px;
  font-family: "Cambria", "Serif";
  text-align: justify;
  text-decoration: underline;
  line-height: 28px;
}
pc {
  text-align: center;
}

p4 {
  color: #C00000;
  font-size: 28px;
  font-family: "Cambria", "Serif";
  text-align: left;
  line-height: 28px;
}

p5 {
  color: black;
  font-size: 24px;
  font-family: "Cambria", "Serif";
  text-align: left;
  line-height: 28px;
  margin-left: 10px;
}
p6 {
  color: black;
  font-size: 18px;
  font-family: "Cambria", "Serif";
  text-align: center;
  line-height: 28px;
  
}

p7 {
  color: black;
  font-size: 15px;
  font-family: "Cambria", "Serif";
  text-align: center;
  line-height: 28px;
  
}

p8 {
  color: black;
  font-size: 20px;
  font-family: "Cambria", "Serif";
  text-align: center;
  line-height: 28px;
  
}



#wrapper {
  width: 800px;
  text-align: left;
  margin: 0 auto;
}

/* Navigation Menu */
ul {
  padding: 0;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #333;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #fff;
  float:left;
  width: 800px;
  height: auto;
  font-size: 11.8px
}


li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-right:1px solid #fff;
  height: 50px;
  text-align: center;
}


li a {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 5px 14px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#top > img {
  width:900px;
  border: 2px solid #000;
}
.top-img {
  padding-left: 0px;
  padding-top: 10px;

}

/* middle */
#intro {
  width: 740px;
  text-align: left;
  margin: 0 auto;
}

#topic {
  width: 740px;
  text-align: left;
  margin: 0 auto;
}

#importantdates {
  width: 740px;
  text-align: left;
  margin: 0 auto;
}




/* bottom */
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 32%;
  padding: 5px;
}

.img-container2 {
  float: center;
  width: 32%;
  padding: 2px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.gallery {
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 0px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: "Cambria", "Serif";
}

.responsive {
  margin-left: 100px;
  padding: 0 1px;
  float: left;
  width: 32%;
}
.responsive2 {
  margin-right: 100px;
  padding: 0 1px;
  float: right;
  width: 32%;
}
.responsive3 {
  padding: 0 3px;
  float: left;
  width: 20%;
}


/* for planaryspeaker */
.PlanarySpeaker_img{
  float: left;
  padding: 0 3px;
}
#planaryspeaker {
  border: 3px solid #dddddd;
    padding: 3px;
}
